@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>

<form asp-action="ForgetPassword" enctype="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input type="text" asp-for="Email" class="form-control" required />
    </div>




    <input type="submit" value="Reset Password" class="btn btn-primary" />
</form>
